<div class="login-container">
    <h2 id="Login">Login</h2>
    <div class="form-container">
      <label for="username">Username:</label>
      <input type="text" id="username" />
      
      <label for="password">Password:</label>
      <input type="password" id="password" />
      
      <button id="submit" (click)="navigateToHome()">Submit</button>
    </div>
    <p>
      <a href="/register" routerLink="/register">Don't have an account? Register here</a> <br>
      <a href="/forgot-password" id="/forgotpassword" routerLink="forgot-password">Forgot password?</a>
    </p>
  </div>