/* filepath: /Users/akhilaakula/Documents/Angular/auth-mfe/src/app/login/login.component.scss */

:host {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
}

#logo {
    width: 200px; /* Adjust logo size */
    height: 80px;;
    margin-bottom: 20px; /* Add spacing between logo and container */
}

.login-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    width: 600px; /* Adjust width as needed */
    height:60%;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// #f3641d
.form-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
    width: 100%;
}

#username, #password {
    width: 50%; /* Full width of the form container */
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit {
    width: 30%; /* Full width of the form container */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    text-align: center;
    color: blue;
    font-size: 15px;
}
#submit:hover {
    background-color: #f3641d; /* Darker blue on hover */
}
h1{
    color: #f3641d;
}
a{
    margin-top: 10px;
    margin-bottom: 10px;
}
.register {
    color: blue;
    display: block; /* Ensure each link is on its own line */
    margin-bottom: 1px; /* Add space below the registration link */
}

.forgotpassword {
    color: blue;
    display: block; /* Ensure each link is on its own line */
    margin-top: 1px; /* Add space above the forgot password link */
}