<img id="logo" src="assets/OneShopLogo.png" alt="One Shop Logo" />
<div class="registration-container">
    <div class="form-container">
      <h1>Create Account</h1>  
      <p>All fields are required</p>
      <input type="text" id="firstname" placeholder="FIRST NAME" required/>
      <input type="text" id="lastname" placeholder="LAST NAME"/>
      <input type="tel" id="phone" placeholder="PHONE"/>
      <input type="email" id="email" placeholder="EMAIL ADDRESS"/>
      <input type="text" id="username" placeholder="USERNAME"/>
      <input type="password" id="password" placeholder="ENTER PASSWORD"/>
      <input type="password" id="repassword" placeholder="RE-ENTER PASSWORD"/>
      <input type="checkbox" id="newsletters"/> I wish to receive OneShop news on my e-mail
      <input type="checkbox" id="policy"/> I accept the Privacy Statement
      <button id="createaccount">Create Account</button>
    </div>
</div>